header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
nav{position: relative; z-index: 1;}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
    gap: 1.5rem;
    list-style: none;
    padding: 20px;
    margin: 0;
}
nav a{
    text-decoration: none;
    color: #fafafa;
    font-weight: 700;
    font-size: 1.15rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 16px;
    transition: background-color 0.15s ease, color 0.15s ease;
}
nav a:hover{
   text-decoration: underline;
   background-color: rgba(0, 0, 0, 0.25);
   position:relative;
   padding: 5px;
   border-radius: 16px;
}
.background-img{position: relative;}
.background-img::before{
    content:"";
    position: absolute;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-image: url(Images/IMG_6893.jpg);
    inset: 0;
    pointer-events: none;
    opacity: 0.25;
}