@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
body{
    background-color: #18453B;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
header{
    display: flex;
    align-items: flex-start;
    justify-content: center; 
     
}

.background-img{position: relative;}
.background-img::before{
    content: "";
    position: absolute;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-image: url(Images/IMG_6893.jpg);
    inset: 0;
    pointer-events: none;
    opacity: 0.25;
}
.background-img nav{position: relative; z-index: 1;}

.background-img nav ul{
 display: flex;
 justify-content: space-evenly;
 width: 95vw;
 gap: 1.5rem;
 list-style: none;
 padding: 20px;
 margin: 0;
}
nav a{
    text-decoration: none;
    color: #fafafa;
    font-weight: 700;
    font-size: 1.15rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 16px;
    transition: background-color 0.15s ease, color 0.15s ease;
}

nav a:hover{
    text-decoration: underline;
    position: relative;
    background-color: rgba(0,0,0,0.25);
    padding: 5px;
    border-radius: 16px;
}
main{padding: 15rem 0;}

.inner{
    display: grid;
    grid-template-columns: minmax(0, 1.1fr) minmax(0, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "left title"
      "left img";
    column-gap: clamp(1rem, 1vw, 3rem);
    row-gap: 10px;

    max-width: 1500px;
    margin: 0 auto;
    min-height: 70vh;
    padding: 0 clamp(1.5rem, 5vw, 4rem);
    z-index: 1;
}

.hero-left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 25rem;
    color: #fafafa;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 15.625rem;
    margin-left: clamp(2rem, 8vw, 5rem);
}

.hero-text{
   grid-area: title;
   position: relative;
   z-index: 1;
   text-align: center;
}

.hero-text h1{
    margin: 0 0 0.1rem;
    font-size: clamp(1.8rem, 3.5vw, 3rem);
    color: #fafafa;
    font-weight: 800;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.inner img{
    grid-area: img;
    z-index: 1;
    border-radius: 25px;
    width: clamp(300px, 40vw, 600px);
    height: auto;
    justify-self: center;
    margin-top: 0;   
}

@media (max-width: 768px) {
    .inner{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "title"
          "img"
          "left";
        row-gap: 2rem;
        justify-items: center;
        min-height: auto;
        padding-top: 1rem;
        height: 60vh;
    }
    .hero-text{
        text-align: center;
        width: min(90vw, 32rem);
    }
    .inner img{
        margin-top: 0;
        width: min(90vw, 400px);
    }
    .hero-left{
        text-align: center;
        width: min(90vw, 32rem);
        margin-top: 0;
        margin-right: 50px;
    }
}





