header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
nav{
    position: relative;
    z-index: 1;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
    gap: 1.5rem;
    list-style: none;
    padding: 20px;
    margin: 0;
}
nav a{
    text-decoration: none;
    color: #fafafa;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 16px;
    transition: background-color 0.15s ease, color 0.15s ease;
}
nav a:hover{
    text-decoration: underline;
    background-color: rgba(0,0,0,0.25);
    position: relative;
    gap: 1.5rem;
    padding: 5px;
    border-radius: 16px;
}
.sticky-nav{
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    display: flex;
    justify-content: center;

    background: linear-gradient(to bottom, #1d5a47 0, #123f32 50%, #0a1d17 100%);
    backdrop-filter: blur(8px);
}
.sticky-nav nav{width: 100%; position: relative; z-index: 2001;}

.background-img{position: relative;}

.background-img::before{
    content: "";
    position: absolute;
    min-height: 80vh;
    inset: 0;
    pointer-events: none;
    opacity: 0.65;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0, #1d5442 100%), 
    url("/public/Images/background.jpg")
}