@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
html{scroll-behavior: smooth; max-width: 100%;}
*, *::before, *::after{ box-sizing: border-box;}
body{
    background: linear-gradient(to bottom, #1d5a47 0, #123f32 50%, #0a1d17 100%);
    font-family: 'Inter', sans-serif;
    margin:0;
    overflow-x: hidden;
}
main{padding: 18rem 0 0 0;}


